* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #272727;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  margin: 0 auto;
  width: 100vw;
  max-width: 800px;
  padding: 50px 0 100px 0;
}

.editor {
  color: #eee;
  border: none;
  width: 100%;
  outline: none;
  resize: none;
  height: 100%;
  background-color: #272727;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.75;
  padding: 16px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #272727;
}

::-webkit-scrollbar-thumb {
  background: #202020;
}

::-webkit-scrollbar-thumb:hover {
  background: #222222;
  cursor: pointer;
}

.tabs {
  color: white;

  display: flex;
  flex-direction: row;
}

.tabs > button {
  flex: 1;
  /* border: 1px solid grey; */
  border: none;
  text-align: center;
  padding: 8px;
  /* font-family: 'Courier New', Courier, monospace; */
  background-color: transparent;
  color: #eee;
}

.tabs > button:hover {
  background-color: #fff1;
  cursor: pointer;
  transition: 200ms;
}

.tab-selected {
  font-weight: 700;
}

.style {
  align-self: flex-end;
}

.style > button {
  border: none;
  padding: 4px;
  background-color: transparent;
  color: #eee;
  padding: 16px;
}

.style > button:hover {
  cursor: pointer;
}
